/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */

@import "compass/reset";
@import "susy";
@import "compass";

/* --------------------------------------------------------------------
   Base Grid
-------------------------------------------------------------------- */

$total-columns  : 12;
$column-width   : 2em;
$gutter-width   : 0.5em;
$grid-padding   : 1.75em;

$show-grid-backgrounds  : true;

/* --------------------------------------------------------------------
   Typography
-------------------------------------------------------------------- */

/* Vertical Rhythm */

$base-font-size       : 30px;
$base-line-height     : 48px;
@include establish-baseline;

/* Fonts */

$title: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$longform: "adobe-garamond-pro", Georgia, serif;

/* Sizing */

h1 { @include adjust-font-size-to(75px); font-family: $title; font-weight: 900;}
h2 { @include adjust-font-size-to(46px); font-family: $title; font-weight: 900;}
h3 { @include adjust-font-size-to(36px); font-family: $title; font-weight: 900;}
h4 { @include adjust-font-size-to(26px); font-family: $title; font-weight: 400;}

.emote { font-family: $longform; font-weight: 400; font-style: italic; }

.emphasize { @include adjust-font-size-to(40px); line-height: 1.5em; }

.sub { @include adjust-font-size-to(18px); font-style: italic; }

/* --------------------------------------------------------------------
   Colors
-------------------------------------------------------------------- */

$primary: #FF3300;
$black: #222;
$mid-grey: #666;
$grey-shdw: #AAA;
$grey: #CCC;
$white: #FDFDFD;

/* --------------------------------------------------------------------
   Mixins
-------------------------------------------------------------------- */

@mixin ease-flip {
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

@mixin dash-tail($width) {
  &::after {
    content: ' ';
    display: block;
    width: $width;
    border-top: 1px dashed $grey;
    margin: 1em auto 1em auto;
  }
}

/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */

body {
  font-family: $longform;
  -webkit-font-smoothing: antialiased;
  color: $black;
  background: $white;
  border-top: 0.2em solid $primary;
}

img, object {
  max-width: 100%;
}

a {
  color: $primary;
  text-decoration: none;
  @include transition-duration(0.2s);
  &:hover {
    text-decoration: underline;
  }
}

p {
  @include margin-trailer();
}

em {
  font-style: italic;
}

::selection {
  background: $grey; /* Safari */
  }
::-moz-selection {
  background: $grey; /* Firefox */
}