/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */

@import "compass/reset";
@import "susy";
@import "compass";

/* --------------------------------------------------------------------
   Base Grid
-------------------------------------------------------------------- */

$total-columns  : 12;
$column-width   : 2em;
$gutter-width   : 0.5em;
$grid-padding   : 1.75em;

$show-grid-backgrounds  : true;

/* --------------------------------------------------------------------
   Typography
-------------------------------------------------------------------- */

/* Vertical Rhythm */

$base-font-size       : 30px;
$base-line-height     : 48px;
@include establish-baseline;

/* Fonts */

$title: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$longform: "adobe-garamond-pro", Georgia, serif;

/* Sizing */

h1 { @include adjust-font-size-to(75px); font-family: $title; font-weight: 900;}
h2 { @include adjust-font-size-to(46px); font-family: $title; font-weight: 900;}
h3 { @include adjust-font-size-to(36px); font-family: $title; font-weight: 900;}
h4 { @include adjust-font-size-to(26px); font-family: $title; font-weight: 400;}

.emote { font-family: $longform; font-weight: 400; font-style: italic; }

.emphasize { @include adjust-font-size-to(40px); line-height: 1.5em; }

.sub { @include adjust-font-size-to(18px); font-style: italic; }

/* --------------------------------------------------------------------
   Variables
-------------------------------------------------------------------- */

/* Colors */

$primary: rgba(137, 253, 194, 1.0);    // teal
$drk-primary: rgba(32, 51, 41, 1.0);   // dark teal
$secondary: rgba(250, 41, 0, 1.0);     // red
$mid-black: rgba(68, 68, 68, 1.0);     // #444
$lt-black: #666;
$grey: rgba(236, 240, 238, 1.0);       // light teal grey
$grey-shdw: rgba(191, 197, 194, 1.0);  // dark teal grey
$white: rgba(253, 253, 253, 1.0);      // #fdfdfd
$black: rgba(51, 51, 51, 1.0);         // #333

/* Measurements */

$golden: 61.8033%;
$golden-sm: 38.1967%;

/* --------------------------------------------------------------------
   Mixins
-------------------------------------------------------------------- */

@mixin ease-flip {
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

@mixin dash-tail($width) {
  &::after {
    content: ' ';
    display: block;
    width: $width;
    border-top: 1px dashed $secondary;
    margin: 1em auto 1em auto;
  }
}

/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */

body {
  font-family: $longform;
  -webkit-font-smoothing: antialiased;
  color: $black;
  background: $white;
  border-top: 0.3em solid $primary;
}

p {
  color: $mid-black;
  a {
    color: $secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}

img, object {
  max-width: 100%;
}

a {
  color: $black;
  text-decoration: none;
  @include transition-duration(0.2s);
  &:hover {
    color: $secondary;
  }
}

p {
  @include margin-trailer();
}

em {
  font-style: italic;
}

::selection {
  background: $primary; /* Safari */
  }
::-moz-selection {
  background: $primary; /* Firefox */
}