/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */

@import "base";

/* --------------------------------------------------------------------
   Layout
-------------------------------------------------------------------- */

/* Base */

.container {
  @include container;
}

section, article, header, footer {
  @include span-columns(12 omega);
}

.widget {
  @include span-columns(12 omega);
  @include trailer();
  @include leader();
}

/* Header */

header {
  text-align: center;
  padding: 1em 0;
}

img#logo {
  position: absolute;
  width: 60px;
  top: 1em;
  left: 1em;
  @include ease-flip;
  &:hover
  {
    @include rotate(180deg);
  }
}

nav {
  @include adjust-font-size-to(24px);
  line-height: 48px;
  border-bottom: 1px dashed $secondary;
  margin-bottom: 1em;
  ul li {
    display: inline-block;
    margin-right: 2em;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* Footer */

footer {
  @include rhythm(1, 0.75, 1, 1);
  @include adjust-font-size-to(18px);
  @include reset-baseline;
  border-top: 1px dashed $secondary;
  font-family: $title;
  color: $grey-shdw;
  div {
    @include span-columns(8);
    &:last-child {
      @include span-columns(4 omega);
      text-align: right;
    }
  }
  span {
    display: block;
  }
}

/* Icon Styling */

[class^="ss-"]:before, [class*=" ss-"]:before { 
  margin-right: 0.25em;
}

[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after {
  margin-left: 0.5em;
}


/* --------------------------------------------------------------------
   Home Page
-------------------------------------------------------------------- */

section.home img {
  margin-bottom: 1em;
}

article.hi {
  text-align: center;
  h2 {
    font-style: italic;
    @include dash-tail($golden-sm);
  }
}

/* --------------------------------------------------------------------
   Info Page
-------------------------------------------------------------------- */

/* Bio Section */

.bio {
  @include span-columns(12 omega);
  @include dash-tail(100%);
  text-align: center;
  h1, h2 {
    display: block;
    width: 100%;
    color: $grey;
    @include text-shadow($grey-shdw 0 -1px 0);
  }
  h2 {
    @include transition-duration(0.2s);
    a {
      // Get rid of default link styling
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  img.face {
    width: 11em;
  }
  p {
    @include leader();
    text-align: left;
  }
  // wiggle the pencil on write me link hover
  [class^="ss-"]:hover:before, [class*=" ss-"]:hover:before {
    @include rotate(-15deg);
  }
}

// make pencil smaller to fit size of 'write me'
a.ss-write:before {
  font-size: 0.75em;
}

/* Recent Projects Section */

.recent-projects {
  h2 {
    text-align: center;
  }
  @include trailer();
  a {
    text-decoration: none;
    color: $black;
  }
}

.project {
  @include span-columns(6);
  &:nth-child(odd) { @include omega; } // every second project completes a row.
  @include leader(0.5);
  opacity: 0.66;
  @include transition-duration(0.2s);
  &:hover {
    opacity: 1;
  }
  h4 {
    line-height: 1;
    margin-bottom: -0.45em;
  }
}

/* --------------------------------------------------------------------
   Writing
-------------------------------------------------------------------- */

/* Post */

article.short.post {
  border-bottom: 1px dashed $secondary;
}

h1.post-title {
  text-align: center;
  color: $grey;
  @include text-shadow($grey-shdw 0px -1px 0);
}

span.timestamp {
  @extend .emote;
  display: block;
  text-align: center;
  color: $lt-black;
  @include adjust-font-size-to(24px);
  @include dash-tail($golden-sm);
}

img.post-image {
  @include leader(0.5);
}

div.post-content {
  @include leader();
}

/* Previous Posts */

div.more-posts h3 {
  text-align: center;
  margin-bottom: 1em;
}

ul.recent-posts {
  a {
    @include transition-duration(0);
    &:hover {
    color: $black;
    }
  }
  li {
    @extend .clearfix;
    display: block;
    clear: both;
    @include transition-duration(0.2s);
    border-bottom: 1px solid $grey;
    padding: 0.25em 0;
    &:hover {
      background: $primary;
      color: $black;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

span.title{
  float: left;
}
span.date {
  float: right;
  @include adjust-font-size-to(18px);
  font-style: italic;
}


/* --------------------------------------------------------------------
   Misc
-------------------------------------------------------------------- */

/* Type Elements */

h1.alpha {
  @include trailer(0.5);
  text-align: center;
  color: $grey;
  @include text-shadow($grey-shdw 0px -1px 0);
}


blockquote {
  background: $lt-primary;
    p {
    color: $lt-black;
    font-style: italic;
    padding: 0.25em 0 0.25em 1.5em;
  }
}

article ul {
  @include trailer();
  a {
    color: $secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}

code {
  @extend .clearfix;
  display: block;
  background: $lt-black;
  color: $grey;
  padding: 0.5em;
  @include border-radius(5px);
}

/* --------------------------------------------------------------------
   Media Queries
-------------------------------------------------------------------- */

/* < 1700px */

@media screen and (max-width: 1700px) {
  $base-font-size       : 24px;
  $base-line-height     : 38px;
  @include establish-baseline;
}

/* < 1100px */

@media screen and (max-width: 1100px) {
  $base-font-size       : 21px;
  $base-line-height     : 34px;
  @include establish-baseline;
}

/* < 875px */

@media screen and (max-width: 875px) {
  .container {
    max-width: 24em;
  }
  img#logo {
  // Center logo
    position: inherit;
    margin-bottom: 0.25em;
  }
  .project {
  // Recent projects go to full width one column layout and no opacity hover state
    @include span-columns(12 omega);
    opacity: 1;
    margin: 1.25em 0;
    text-align: center;
    img {
      margin-top: -0.5em;
    }
  }
// Make Recent Posts date go under title
  span.date, span.title {
    float: left;
    clear: both;
  }
  span.date {
    margin-top: -0.75em;
  }
}

/* < 490px */

@media screen and (max-width: 490px) {
  $base-font-size       : 18px;
  $base-line-height     : 27px;
  @include establish-baseline;
  .container {
    padding: 0 0.75em;
  }
}