<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo title=false %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Eczar:700" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
</head>