/* ===========================================================================*/
/* #LAYOUT*/
/* Styles for managing the structural hierarchy of the site.*/
/* ===========================================================================*/

.container {
  max-width: 72.222222222rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container--small {
  @extend .container;
  max-width: 38rem;
}

/* Fullscreen div*/

.fullscreen {
  width: 100%;
  margin: 5rem auto;

  @media screen and (min-width: 680px) {
    height: 45rem;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

