/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* --------------------------------------------------------------------
   Base Grid
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Typography
-------------------------------------------------------------------- */
/* Vertical Rhythm */
/* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 187.5%;
  line-height: 1.6em;
}

/* Fonts */
/* Sizing */
/* line 37, ../sass/_base.scss */
h1, h2, h3, h4 {
  margin-bottom: 0.5em;
}

/* line 41, ../sass/_base.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.28em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 42, ../sass/_base.scss */
h2 {
  font-size: 1.53333em;
  line-height: 2.08696em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 43, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.33333em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 44, ../sass/_base.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.33333em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* line 46, ../sass/_base.scss */
.emote, span.timestamp {
  font-family: "adobe-garamond-pro", Georgia, serif;
  font-weight: 400;
  font-style: italic;
}

/* line 48, ../sass/_base.scss */
.emphasize {
  font-size: 1.33333em;
  line-height: 1.2em;
  line-height: 1.5em;
}

/* line 50, ../sass/_base.scss */
.sub {
  font-size: 0.6em;
  line-height: 2.66667em;
  font-style: italic;
}

/* --------------------------------------------------------------------
   Variables
-------------------------------------------------------------------- */
/* Colors */
/* Measurements */
/* --------------------------------------------------------------------
   Mixins
-------------------------------------------------------------------- */
/* Clearfix (Use @extend .clearfix) */
/* line 97, ../sass/_base.scss */
.clearfix, ul.recent-posts li, code {
  zoom: 1;
}
/* line 99, ../sass/_base.scss */
.clearfix:before, ul.recent-posts li:before, code:before, .clearfix:after, ul.recent-posts li:after, code:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 105, ../sass/_base.scss */
.clearfix:after, ul.recent-posts li:after, code:after {
  clear: both;
}

/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */
/* line 115, ../sass/_base.scss */
body {
  font-family: "adobe-garamond-pro", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  background: #fdfdfd;
  border-top: 0.3em solid #89fdc2;
}

/* line 123, ../sass/_base.scss */
p {
  color: #444444;
}
/* line 125, ../sass/_base.scss */
p a {
  color: #fa2900;
}
/* line 127, ../sass/_base.scss */
p a:hover {
  text-decoration: underline;
}

/* line 133, ../sass/_base.scss */
img, object {
  max-width: 100%;
}

/* line 137, ../sass/_base.scss */
a {
  color: #333333;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 141, ../sass/_base.scss */
a:hover {
  color: #fa2900;
}

/* line 146, ../sass/_base.scss */
p {
  margin-bottom: 1.6em;
}

/* line 150, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 154, ../sass/_base.scss */
::selection {
  background: #89fdc2;
  /* Safari */
}

/* line 157, ../sass/_base.scss */
::-moz-selection {
  background: #89fdc2;
  /* Firefox */
}

/* --------------------------------------------------------------------
   Layout
-------------------------------------------------------------------- */
/* Base */
/* line 13, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 29.5em;
  _width: 29.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.75em;
  padding-right: 1.75em;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/screen.scss */
section, article, header, footer {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}

/* line 21, ../sass/screen.scss */
.widget {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
}

/* Header */
/* line 29, ../sass/screen.scss */
header {
  text-align: center;
  padding: 1em 0;
}

/* line 34, ../sass/screen.scss */
img#logo {
  position: absolute;
  width: 60px;
  top: 1em;
  left: 1em;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
/* line 41, ../sass/screen.scss */
img#logo:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 46, ../sass/screen.scss */
nav {
  font-size: 0.8em;
  line-height: 2em;
  line-height: 48px;
  border-bottom: 1px dashed #fa2900;
  margin-bottom: 1em;
}
/* line 51, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
/* line 54, ../sass/screen.scss */
nav ul li:last-child {
  margin-right: 0;
}

/* Footer */
/* line 62, ../sass/screen.scss */
footer {
  margin-top: 1.6em;
  padding-top: 1.2em;
  padding-bottom: 1.6em;
  margin-bottom: 1.6em;
  font-size: 0.6em;
  line-height: 2.66667em;
  line-height: 1.6em;
  border-top: 1px dashed #fa2900;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #bfc5c2;
}
/* line 69, ../sass/screen.scss */
footer div {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 71, ../sass/screen.scss */
footer div:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
  text-align: right;
}
/* line 76, ../sass/screen.scss */
footer span {
  display: block;
}

/* Icon Styling */
/* line 83, ../sass/screen.scss */
[class^="ss-"]:before, [class*=" ss-"]:before {
  margin-right: 0.25em;
}

/* line 88, ../sass/screen.scss */
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after {
  margin-left: 0.5em;
}

/* --------------------------------------------------------------------
   Home Page
-------------------------------------------------------------------- */
/* line 97, ../sass/screen.scss */
section.home img {
  margin-bottom: 1em;
}

/* line 101, ../sass/screen.scss */
article.hi {
  text-align: center;
}
/* line 103, ../sass/screen.scss */
article.hi h1 {
  margin-bottom: 0;
}
/* line 106, ../sass/screen.scss */
article.hi h2 {
  font-style: italic;
}
/* line 86, ../sass/_base.scss */
article.hi h2::after {
  content: ' ';
  display: block;
  width: 38.1967%;
  border-top: 1px dashed #fa2900;
  margin: 1em auto 1em auto;
}

/* --------------------------------------------------------------------
   Info Page
-------------------------------------------------------------------- */
/* Bio Section */
/* line 118, ../sass/screen.scss */
.bio {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
  text-align: center;
}
/* line 86, ../sass/_base.scss */
.bio::after {
  content: ' ';
  display: block;
  width: 100%;
  border-top: 1px dashed #fa2900;
  margin: 1em auto 1em auto;
}
/* line 122, ../sass/screen.scss */
.bio h1, .bio h2 {
  display: block;
  width: 100%;
  color: #ecf0ee;
  text-shadow: #bfc5c2 0 -1px 0;
}
/* line 128, ../sass/screen.scss */
.bio h2 {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 130, ../sass/screen.scss */
.bio h2 a {
  color: inherit;
}
/* line 133, ../sass/screen.scss */
.bio h2 a:hover {
  text-decoration: none;
}
/* line 138, ../sass/screen.scss */
.bio img.face {
  width: 11em;
}
/* line 141, ../sass/screen.scss */
.bio p {
  margin-top: 1.6em;
  text-align: left;
}
/* line 146, ../sass/screen.scss */
.bio [class^="ss-"]:hover:before, .bio [class*=" ss-"]:hover:before {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

/* line 152, ../sass/screen.scss */
a.ss-write:before {
  font-size: 0.75em;
}

/* Recent Projects Section */
/* line 158, ../sass/screen.scss */
.recent-projects {
  margin-bottom: 1.6em;
}
/* line 159, ../sass/screen.scss */
.recent-projects h2 {
  text-align: center;
}
/* line 163, ../sass/screen.scss */
.recent-projects a {
  text-decoration: none;
  color: #333333;
}

/* line 169, ../sass/screen.scss */
.project {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 0.8em;
  opacity: 0.66;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 171, ../sass/screen.scss */
.project:nth-child(odd) {
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}
/* line 175, ../sass/screen.scss */
.project:hover {
  opacity: 1;
}
/* line 178, ../sass/screen.scss */
.project h4 {
  font-family: "adobe-garamond-pro", Georgia, serif;
  line-height: 1;
  margin-bottom: -0.45em;
}
/* line 183, ../sass/screen.scss */
.project .sub {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
}

/* --------------------------------------------------------------------
   Writing
-------------------------------------------------------------------- */
/* Post */
/* line 195, ../sass/screen.scss */
article.short.post {
  border-bottom: 1px dashed #fa2900;
}

/* line 199, ../sass/screen.scss */
h1.post-title {
  text-align: center;
  color: #ecf0ee;
  text-shadow: #bfc5c2 0px -1px 0;
}

/* line 205, ../sass/screen.scss */
span.timestamp {
  display: block;
  text-align: center;
  color: #666666;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 86, ../sass/_base.scss */
span.timestamp::after {
  content: ' ';
  display: block;
  width: 38.1967%;
  border-top: 1px dashed #fa2900;
  margin: 1em auto 1em auto;
}

/* line 214, ../sass/screen.scss */
img.post-image {
  margin-top: 0.8em;
}

/* line 218, ../sass/screen.scss */
div.post-content {
  margin-top: 1.6em;
  margin-bottom: 3.2em;
}
/* line 221, ../sass/screen.scss */
div.post-content ul {
  font-size: 0.86667em;
  line-height: 1.84615em;
}

/* Previous Posts */
/* line 228, ../sass/screen.scss */
div.more-posts h3 {
  text-align: center;
  margin-bottom: 1em;
}

/* line 234, ../sass/screen.scss */
ul.recent-posts a {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}
/* line 236, ../sass/screen.scss */
ul.recent-posts a:hover {
  color: #333333;
}
/* line 240, ../sass/screen.scss */
ul.recent-posts li {
  display: block;
  clear: both;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 1px solid #ecf0ee;
  padding: 0.25em 0;
}
/* line 247, ../sass/screen.scss */
ul.recent-posts li:hover {
  background: #89fdc2;
  color: #333333;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 256, ../sass/screen.scss */
span.title {
  float: left;
}

/* line 259, ../sass/screen.scss */
span.date {
  float: right;
  font-size: 0.6em;
  line-height: 2.66667em;
  font-style: italic;
}

/* --------------------------------------------------------------------
   Misc
-------------------------------------------------------------------- */
/* Type Elements */
/* line 272, ../sass/screen.scss */
h1.alpha {
  margin-bottom: 0.8em;
  text-align: center;
  color: #ecf0ee;
  text-shadow: #bfc5c2 0px -1px 0;
}

/* line 280, ../sass/screen.scss */
blockquote {
  background: rgba(137, 253, 194, 0.3);
}
/* line 282, ../sass/screen.scss */
blockquote p {
  color: #666666;
  font-style: italic;
  padding: 0.25em 0 0.25em 1.5em;
}

/* line 289, ../sass/screen.scss */
article ul {
  margin-bottom: 1.6em;
}
/* line 291, ../sass/screen.scss */
article ul a {
  color: #fa2900;
}
/* line 293, ../sass/screen.scss */
article ul a:hover {
  text-decoration: underline;
}

/* line 299, ../sass/screen.scss */
code {
  display: block;
  background: #666666;
  color: #ecf0ee;
  padding: 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* --------------------------------------------------------------------
   Media Queries
-------------------------------------------------------------------- */
/* < 1700px */
@media screen and (max-width: 1700px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 150%;
    line-height: 1.58333em;
  }
}
/* < 1100px */
@media screen and (max-width: 1100px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 131.25%;
    line-height: 1.61905em;
  }
}
/* < 875px */
@media screen and (max-width: 875px) {
  /* line 331, ../sass/screen.scss */
  .container {
    max-width: 24em;
  }

  /* line 334, ../sass/screen.scss */
  img#logo {
    position: inherit;
    margin-bottom: 0.25em;
  }

  /* line 339, ../sass/screen.scss */
  .project {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -0.5em;
    display: inline;
    opacity: 1;
    margin: 1.25em 0;
    text-align: center;
  }
  /* line 345, ../sass/screen.scss */
  .project img {
    margin-top: -0.5em;
  }

  /* line 350, ../sass/screen.scss */
  span.date, span.title {
    float: left;
    clear: both;
  }

  /* line 354, ../sass/screen.scss */
  span.date {
    margin-top: -0.75em;
  }
}
/* < 490px */
@media screen and (max-width: 490px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 112.5%;
    line-height: 1.5em;
  }

  /* line 365, ../sass/screen.scss */
  .container {
    padding: 0 0.75em;
  }
}
/* --------------------------------------------------------------------
   CSS3 On Screen Demo
-------------------------------------------------------------------- */
/* line 11, ../sass/demo.scss */
.bleed {
  width: 100%;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  opacity: 0.5;
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -ms-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
/* line 17, ../sass/demo.scss */
.bleed strong {
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -ms-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
/* line 20, ../sass/demo.scss */
.bleed:hover {
  opacity: 1;
}
/* line 22, ../sass/demo.scss */
.bleed:hover strong {
  color: #fdfdfd;
}
/* line 26, ../sass/demo.scss */
.bleed h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.16667em;
  line-height: 1.08em;
}
/* line 31, ../sass/demo.scss */
.bleed.top {
  background: #fa2900;
  color: #ad1c00;
}
/* line 35, ../sass/demo.scss */
.bleed.mid {
  background: #89fdc2;
  color: #04e975;
}
/* line 39, ../sass/demo.scss */
.bleed.bottom {
  background: #444444;
  color: #1e1e1e;
}

/* line 45, ../sass/demo.scss */
.after {
  margin-top: 1.5em;
}
/* line 47, ../sass/demo.scss */
.after h4 a {
  color: #fa2900;
  text-decoration: underline;
}
