/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Imports
-------------------------------------------------------------------- */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* --------------------------------------------------------------------
   Base Grid
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Typography
-------------------------------------------------------------------- */
/* Vertical Rhythm */
/* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 187.5%;
  line-height: 1.6em;
}

/* Fonts */
/* Sizing */
/* line 37, ../sass/_base.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.28em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 38, ../sass/_base.scss */
h2 {
  font-size: 1.533em;
  line-height: 2.087em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 39, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.333em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 40, ../sass/_base.scss */
h4 {
  font-size: 0.867em;
  line-height: 1.846em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* line 42, ../sass/_base.scss */
.emote {
  font-family: "adobe-garamond-pro", Georgia, serif;
  font-weight: 400;
  font-style: italic;
}

/* line 44, ../sass/_base.scss */
.emphasize {
  font-size: 1.333em;
  line-height: 1.2em;
  line-height: 1.5em;
}

/* --------------------------------------------------------------------
   Colors
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Mixins
-------------------------------------------------------------------- */
/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */
/* line 82, ../sass/_base.scss */
body {
  font-family: "adobe-garamond-pro", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  background: #fdfdfd;
  border-top: 0.2em solid #ff3300;
}

/* line 90, ../sass/_base.scss */
img, object {
  max-width: 100%;
}

/* line 94, ../sass/_base.scss */
a {
  color: #ff3300;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 98, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 103, ../sass/_base.scss */
p {
  margin-bottom: 1.6em;
}

/* line 107, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 111, ../sass/_base.scss */
::selection {
  background: #cccccc;
  /* Safari */
}

/* line 114, ../sass/_base.scss */
::-moz-selection {
  background: #cccccc;
  /* Firefox */
}

/* --------------------------------------------------------------------
   Layout
-------------------------------------------------------------------- */
/* Base */
/* line 13, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 29.5em;
  _width: 29.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.75em;
  padding-right: 1.75em;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/screen.scss */
section, article, header, footer {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}

/* Header */
/* line 23, ../sass/screen.scss */
header {
  text-align: center;
  padding: 1em 0;
}

/* line 28, ../sass/screen.scss */
img#logo {
  position: absolute;
  top: 1em;
  left: 1em;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
/* line 34, ../sass/screen.scss */
img#logo:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 39, ../sass/screen.scss */
nav {
  font-size: 0.8em;
  line-height: 2em;
  line-height: 48px;
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 1em;
}
/* line 44, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
/* line 47, ../sass/screen.scss */
nav ul li:last-child {
  margin-right: 0;
}
/* line 51, ../sass/screen.scss */
nav a {
  color: #222222;
}
/* line 53, ../sass/screen.scss */
nav a:hover {
  color: #ff3300;
  text-decoration: none;
}

/* Footer */
/* line 62, ../sass/screen.scss */
footer {
  margin-top: 0.8em;
  padding-top: 1.2em;
  padding-bottom: 1.6em;
  margin-bottom: 1.6em;
  font-size: 0.7em;
  line-height: 2.286em;
  line-height: 1.6em;
  border-top: 1px dashed #cccccc;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
}
/* line 69, ../sass/screen.scss */
footer div {
  width: 66.102%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 71, ../sass/screen.scss */
footer div:last-child {
  width: 32.203%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
  text-align: right;
}
/* line 76, ../sass/screen.scss */
footer span {
  display: block;
}

/* --------------------------------------------------------------------
   Home Page
-------------------------------------------------------------------- */
/* line 86, ../sass/screen.scss */
section.home img {
  margin-bottom: 1em;
}

/* line 90, ../sass/screen.scss */
article.hi {
  text-align: center;
}
/* line 92, ../sass/screen.scss */
article.hi h2 {
  font-style: italic;
}
/* line 69, ../sass/_base.scss */
article.hi h2::after {
  content: ' ';
  display: block;
  width: 10em;
  border-top: 1px dashed #cccccc;
  margin: 1em auto 1em auto;
}

/* --------------------------------------------------------------------
   Info Page
-------------------------------------------------------------------- */
/* line 102, ../sass/screen.scss */
.bio {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
  text-align: center;
}
/* line 69, ../sass/_base.scss */
.bio::after {
  content: ' ';
  display: block;
  width: 100%;
  border-top: 1px dashed #cccccc;
  margin: 1em auto 1em auto;
}
/* line 106, ../sass/screen.scss */
.bio h1 {
  display: block;
  width: 100%;
  color: #cccccc;
  text-shadow: #aaaaaa 0px -1px 0;
}
/* line 112, ../sass/screen.scss */
.bio img.face {
  width: 11em;
}
/* line 115, ../sass/screen.scss */
.bio p {
  margin-top: 1.6em;
  text-align: left;
}

/* line 121, ../sass/screen.scss */
.recent-projects {
  margin-bottom: 1.6em;
}
/* line 122, ../sass/screen.scss */
.recent-projects h2 {
  text-align: center;
}
/* line 126, ../sass/screen.scss */
.recent-projects a {
  text-decoration: none;
  color: #222222;
}

/* line 132, ../sass/screen.scss */
.project {
  width: 32.203%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  opacity: 0.66;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 134, ../sass/screen.scss */
.project:nth-child(4n) {
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}
/* line 137, ../sass/screen.scss */
.project:hover {
  opacity: 1;
}

/* --------------------------------------------------------------------
   Misc
-------------------------------------------------------------------- */
/* line 146, ../sass/screen.scss */
article.coming-soon h1 {
  margin-bottom: 1.6em;
  text-align: center;
  color: #cccccc;
  text-shadow: #aaaaaa 0px -1px 0;
}

/* --------------------------------------------------------------------
   Media Queries
-------------------------------------------------------------------- */
/* < 1700px */
@media screen and (max-width: 1700px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 150%;
    line-height: 1.583em;
  }
}
/* < 1100px */
@media screen and (max-width: 1100px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 131.25%;
    line-height: 1.619em;
  }
}
/* < 875px */
@media screen and (max-width: 875px) {
  /* line 176, ../sass/screen.scss */
  .container {
    max-width: 24em;
  }

  /* line 179, ../sass/screen.scss */
  img#logo {
    position: inherit;
    margin-bottom: 0.25em;
  }

  /* line 183, ../sass/screen.scss */
  h1 {
    font-size: 2.095em;
    line-height: 1.545em;
  }

  /* line 184, ../sass/screen.scss */
  h2 {
    font-size: 1.238em;
    line-height: 1.308em;
  }
}
/* < 490px */
@media screen and (max-width: 490px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 112.5%;
    line-height: 1.5em;
  }

  /* line 193, ../sass/screen.scss */
  .container {
    padding: 0 0.75em;
  }
}
