<!doctype html>
<html lang="en">
  <head>
    <title> {% if page.title %} {{ page.title }} | {% endif %} Mikey Wills</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/stylesheets/screen.css" />
    <link href="/fonts/ss-social.css" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/ss-standard.css" />
    <link rel="author" href="https://plus.google.com/111592174684877854482/posts"/>
<!-- Typekit -->   
    <script type="text/javascript" src="http://use.typekit.com/ogx4moy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Analytics -->       
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33507363-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container">
<!-- Header -->   
      <header>
        <a href="/" title="Home"><img src="/images/mukelogo.png" alt="Mikey Wills Logo" id="logo"></a>
<!-- Nav -->   
        <nav>
          <ul>
            <li><a href="/writing.html" title="Writing">Writing</a></li>
            <li><a href="/reading.html" title="Reading">Reading</a></li>
            <li><a href="/resources.html" title="Resources">Resources</a></li>
            <li><a href="/info.html" title="Info">Info</a></li>
          </ul>
        </nav>
      </header>
<!-- Content -->   
      {{ content }}
<!-- Footer -->
      <footer>
        <div>
          <span>An original Mikey Wills joint</span>
          <em>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Try Not to Steal it License</a>.</em>
        </div>
        <div>
          <ul>
            <li><a href="https://twitter.com/mukealicious" class="ss-twitter right">Twitter</a></li>
            <li><a href="mailto:mikey@muke.me?subject=Yo Mukey!" class="ss-mail right">Contact</a></li>
            <li><a href="http://feeds.feedburner.com/MikeyWills" class="ss-rss right">RSS Feed</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>